* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(170, 190, 166);
}

.navbar {
    display: flex;
    align-self: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #060609;
}

a::after {
    content: '';
    position: absolute;
    background-color: rgb(11, 1, 8);
    height: 3px;
    transition: 0.5s;
    width: 0;
    left: 0;
    bottom: -10px;
}

a {
    text-decoration: none;
    color: #060609;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
}

a:hover {
    color: rgb(36, 62, 157);
    font-weight: bold;
}

a:hover::after {
    width: 100%;
}


/* nav-bar ends */

#res {
    font-size: 16px;
    word-spacing: 6px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

p {
    color: rgb(10, 1, 1);
    text-align: justify;
}