@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(84 184 81 / 95%);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-self: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 40px;
    padding-left: 600px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    background-color: rgb(11, 1, 8);
    height: 3px;
    transition: 0.5s;
    width: 0;
    left: 0;
    bottom: -10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    font-family: 'DM Serif Text', serif;
}

a:hover {
    color: rgb(36, 62, 157);
    font-weight: bold;
}

a:hover::after {
    width: 100%;
}


/* li :hover {
    box-shadow: 0 0 25px 5px rgb(24, 26, 23);
} */

p {
    color: black;
    text-align: justify;
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 0px;
}

.bg-img {
    width: 40%;
}

.image {
    float: right;
    padding-bottom: -20px;
    margin-top: -300px;
    width: 400px;
}

.row img {
    width: 100%;
    display: flex;
    float: right;
}

.featured-book {
    margin-top: 399px;
    padding-bottom: 30px;
    width: auto;
}

.fet-image {
    width: max-content;
    font-size: 30px;
    display: flex;
    max-width: fit-content;
    max-width: 100%;
    height: auto;
}

.fet2 {
    margin: 20px;
    padding: auto;
    margin-top: 30px;
    margin-bottom: -2px;
    margin-left: 20px;
}
.fet2-image img{
    width: "300px";
    height: "450px"
}

.price {
    text-align: center;
    font-family: 'DM Serif Text', serif;
}

.recommeded-book h2 {
    text-align: center;
    font-weight: bold;
}

.fet-image img:hover {
    box-shadow: 0 0 5px 5px rgba(68, 66, 66, 0.5);
    border: solid rgb(226, 218, 218);
    border-width: 5px;
}

h2,
h4 {
    color: rgb(13, 13, 12);
    /* text-shadow: 2px 2px 4px #000000; */
    font-family: 'DM Serif Text', serif;
}


/*---------testimonial------*/

.col-3 {
    width: 300px;
}

.testimonial {
    padding-top: 100px;
    background-color: #a09c9c;
    width: 1680px;
    margin-left: -192px;
}

.col-3 img {
    margin-left: 39px;
    padding: 1px;
    margin-right: 20px;
    margin-left: -30;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 30, 0.3); */
    cursor: pointer;
    box-shadow: 0 0 100px rgb(44, 45, 48);
    display: block;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}


/* .testimonial .col-3 :hover {
    transform: translateY(-10px);
} */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}

p {
    font-family: 'DM Serif Text', serif;
    padding: 10px;
    margin: 0px;
    margin-bottom: 22px;
}


/* for footer section */

.footer .sponser {
    width: 1359px;
    background-color: rgb(32, 33, 37);
    height: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer.sponser img {
    width: 300px;
}

.sponser h5 {
    color: white;
    text-align: center;
}


/* FOOTER SECTION */

.main-wrap {
    width: 1684px;
    margin-left: -193px;
    margin-top: 4px;
}

.footer-wrap {
    position: relative;
    margin-top: 0px;
    width: 100%;
    padding: 40px;
    background: rgb(46, 45, 44);
}

.footer-wrap-1 {
    display: flex;
}

.footer-section {
    width: 22%;
    display: block;
    padding: 10px 35px;
}

.footer .footer-section:last-of-type {
    width: 34%;
}

.footer-section h1 {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

.footer-section a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 4px 0px;
}

.line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: rgb(143, 142, 142);
}

.social-link {
    padding-top: 25px;
    text-align: center;
}

.social-link a {
    text-decoration: none;
    height: 30px;
    display: inline-block;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    background: rgb(244, 222, 222);
}

.social-link a img {
    width: 20px;
    height: 20px;
}


/*preloader*/

#preloader {
    background: #000 url(../images/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 10%;
}


/* five star rating */

.checked {
    color: rgb(205, 158, 48);
}

.star span {
    margin-left: 15px;
    visibility: hidden;
    /* margin-bottom: -100px; */
}

span {
    size: 300px;
    color: rgba(255, 255, 255, 0.788);
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 30, 0.3); */
}

#last {
    margin-bottom: 50px;
}

#glow {
    font-size: 30px;
    color: #fff;
    animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframe glow {
    from {
        text-shadow: 0px 0px 10px rgb(0, 0, 0), 0 0 20px #fff, 0 0 30px #74244c, 0 0 40px #651d41, 0 0 50px #641f41, 0 0 60px #612041, 0 0 70px #66344d;
    }
}


/* to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
} */

.quote {
    font-family: 'Kaushan Script', cursive;
}

.subtext {
    font-family: 'DM Serif Text', serif;
    text-align: justify;
    font-size: 20px;
}

@media (max-width: 400)
{
    .fet2{
        width: 100px;
        height: 150px;
    }
};